div(class="container-fluid" )
		div(style="display: table;width: 100%; padding-top:10px; padding-bottom:10px;")
			div.col-xs-4(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				- var prechapter = previouschapter >=0 ? previouschapter : chapter;
				a.btn.btn-default(href="/readarticle/"+bookid+"/"+prechapter+"/"+fontsize style="width: 100%;") 上一章
			div.col-xs-4(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				a.btn.btn-default.center-block(href="/listchapters/"+bookid+"/0" style="width: 100%;") 目錄
			div.col-xs-4(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				
				- if (nextchapter < 0 ){
				a.btn.btn-default.pull-right(style="width: 100%;") 待續..
				- }
				- else {
				a.btn.btn-default.pull-right(href="/readarticle/"+bookid+"/"+nextchapter+"/"+fontsize style="width: 100%;") 下一章
				- }