div.container-fluid(style="padding:0px")
	a.list-group-item(href="/readarticle/"+bookid+"/"+chapter+"/"+fontsize)
		div(style="display: table;width:100%")
			div #{chapterallname}
			small #{chapterupdatetime}