div.list-group
	div(class="list-group-item list-group-item-info") 閱讀紀錄
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫

div.list-group
	div(class="list-group-item list-group-item-info") 點擊排行
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫

div.list-group
	div(class="list-group-item list-group-item-info") 推薦排行
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫

div.list-group
	div(class="list-group-item list-group-item-info") 收藏排行
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫

div.list-group
	div(class="list-group-item list-group-item-info") 新書上架
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫

div.list-group
	div(class="list-group-item list-group-item-info") 最近更新
		a.pull-right(href="#") 更多..
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	a.list-group-item(href="#") 都市-百練成神-作者溫
	