
div.list-group
	div(class="list-group-item list-group-item-info") 點擊排行
		a.pull-right(href="/list100/0") 更多..
	// a.list-group-item(href="#")
	- for (var i=0;i<allclicks_books.length; i++){
	- 	var category = cats[allclicks_books[i].category];
	- 	var bookname = allclicks_books[i].name;
	- 	var authorname = allclicks_books[i].authorID.penname;
	- 	var ranking = allclicks_books[i].allclicks > 10000 ? Math.floor(allclicks_books[i].allclicks/1000)/10+"萬" : allclicks_books[i].allclicks;
	- 	var bookcoverimg = allclicks_books[i].coverimg;
	- 	var bookstatus = allclicks_books[i].status;
	-	var ttt = Math.floor(allclicks_books[i].bookwordcount/1000)/10;
	- 	var bookwordcount = allclicks_books[i].bookwordcount>10000 ? ttt+"萬" : allclicks_books[i].bookwordcount;
	- 	var bookdes = allclicks_books[i].des;
	- 	var bookid = allclicks_books[i]._id;
	-	var id = "click"+i;
	-	var itemdes = "點擊";
		include booklistitem
	- }


div.list-group
	div(class="list-group-item list-group-item-info") 推薦排行
		a.pull-right(href="/list100/1") 更多..
	- for (var i=0;i<alltickets_books.length; i++){
	- 	var category = cats[alltickets_books[i].category];
	- 	var bookname = alltickets_books[i].name;
	- 	var authorname = alltickets_books[i].authorID.penname;
	- 	var ranking = alltickets_books[i].alltickets > 10000 ? Math.floor(alltickets_books[i].alltickets/1000)/10+"萬" : alltickets_books[i].alltickets;
	- 	var bookcoverimg = alltickets_books[i].coverimg;
	- 	var bookstatus = alltickets_books[i].status;
	-	var ttt = Math.floor(alltickets_books[i].bookwordcount/1000)/10;
	- 	var bookwordcount = alltickets_books[i].bookwordcount>10000 ? ttt+"萬" : alltickets_books[i].bookwordcount;
	- 	var bookdes = alltickets_books[i].des;
	- 	var bookid = alltickets_books[i]._id;
	-	var id = "recommend"+i;
	-	var itemdes = "推薦";
		include booklistitem
	- }

div.list-group
	div(class="list-group-item list-group-item-info") 收藏排行
		a.pull-right(href="/list100/2") 更多..
	- for (var i=0;i<collect_books.length; i++){
	- 	var category = cats[collect_books[i].category];
	- 	var bookname = collect_books[i].name;
	- 	var authorname = collect_books[i].authorID.penname;
	- 	var ranking = collect_books[i].collectusers > 10000 ? Math.floor(collect_books[i].collectusers/1000)/10+"萬" : collect_books[i].collectusers;
	- 	var bookcoverimg = collect_books[i].coverimg;
	- 	var bookstatus = collect_books[i].status;
	-	var ttt = Math.floor(collect_books[i].bookwordcount/1000)/10;
	- 	var bookwordcount = collect_books[i].bookwordcount>10000 ? ttt+"萬" : collect_books[i].bookwordcount;
	- 	var bookdes = collect_books[i].des;
	- 	var bookid = collect_books[i]._id;
	-	var id = "collect"+i;
	-	var itemdes = "收藏";
		include booklistitem
	- }

div.list-group
	div(class="list-group-item list-group-item-info") 新書上架
		a.pull-right(href="/list100/3") 更多..
	- for (var i=0;i<newbooks_books.length; i++){
	- 	var category = cats[newbooks_books[i].category];
	- 	var bookname = newbooks_books[i].name;
	- 	var authorname = newbooks_books[i].authorID.penname;
	- 	var ranking = (newbooks_books[i].create_at.getMonth()+1)+"/"+newbooks_books[i].create_at.getDate();
	- 	var bookcoverimg = newbooks_books[i].coverimg;
	- 	var bookstatus = newbooks_books[i].status;
	-	var ttt = Math.floor(newbooks_books[i].bookwordcount/1000)/10;
	- 	var bookwordcount = newbooks_books[i].bookwordcount>10000 ? ttt+"萬" : newbooks_books[i].bookwordcount;
	- 	var bookdes = newbooks_books[i].des;
	- 	var bookid = newbooks_books[i]._id;
	-	var id = "newbook"+i;
	-	var itemdes = "";
		include booklistitem
	- }

div.list-group
	div(class="list-group-item list-group-item-info") 最近更新
		a.pull-right(href="/list100/4") 更多..
	- for (var i=0;i<newupdate_books.length; i++){
	- 	var category = cats[newupdate_books[i].category];
	- 	var bookname = newupdate_books[i].name;
	- 	var authorname = newupdate_books[i].authorID.penname;
	- 	var ranking = (newupdate_books[i].publishedupdate_at.getMonth()+1)+"/"+newupdate_books[i].publishedupdate_at.getDate();
	- 	var bookcoverimg = newupdate_books[i].coverimg;
	- 	var bookstatus = newupdate_books[i].status;
	-	var ttt = Math.floor(newupdate_books[i].bookwordcount/1000)/10;
	- 	var bookwordcount = newupdate_books[i].bookwordcount>10000 ? ttt+"萬" : newupdate_books[i].bookwordcount;
	- 	var bookdes = newupdate_books[i].des;
	- 	var bookid = newupdate_books[i]._id;
	-	var id = "updatebook"+i;
	-	var itemdes = "";
		include booklistitem
	- }
	