div(class="container-fluid" )
	div(style="display: table;width: 100%; padding-top:15px;padding-bottom:15px")
		// div.col-xs-5(style="float: none;display: table-cell;vertical-align: middle;")
		a.btn.btn-default(href="/" style="margin-right:10px") 首頁
		a.btn.btn-danger(href="/author/" style="margin-right:0px") 作家專區
			span.glyphicon.glyphicon-pencil
		// div.col-xs-7(style="float: none;display: table-cell;vertical-align: middle;")
		- if (user) {
		// a.btn.btn-default.pull-right(href="/myreadinghistory") 閱讀紀錄
			span.glyphicon.glyphicon-list
		// a.btn.btn-default.pull-right(href="/mybooks") 我的書架
			span.glyphicon.glyphicon-book
		a.btn.btn-default.pull-right(href="/signout") 登出
			span.glyphicon.glyphicon-user
		- }
		- else {
		a.btn.btn-default.pull-right(href="/signin" ) 登入
			span.glyphicon.glyphicon-user
		a.btn.btn-default.pull-right(href="/signup" style="margin-right:10px") 註冊
			span.glyphicon.glyphicon-log-in
		- }