div(class="container-fluid" )
		div(style="display: table;width: 100%; padding-top:10px; padding-bottom:10px;")
			div.col-xs-6(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				a.btn.btn-default(href="/myreadinghistory" style="width: 100%;") 閱讀紀錄
					span.glyphicon.glyphicon-list
			div.col-xs-6(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				a.btn.btn-default(href="/mybooks" style="width: 100%;") 我的書架
					span.glyphicon.glyphicon-book
