div(class="container-fluid")
		div.text-center(style="display: table;width: 100%; padding-top:10px; padding-bottom:10px;") 全部書籍 #{allbooksnum} 本
			//- div.col-xs-4(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				span 全部書籍
					
			//- div.col-xs-8(style="float: none;display: table-cell;vertical-align: middle;padding:0px")
				h4.text-center(style="margin:0px") #{allbooksnum} 本
					