div.container-fluid
	div.row(style="display: table;")
		div.col-xs-2(style="float: none;display: table-cell;vertical-align: middle;")
			img.img-responsive.img-thumbnail(src="images/bookcover.jpg")
		div.col-xs-10(style="float: none;display: table-cell;vertical-align: middle;")
			h4 雪英領主
				span.badge(style="margin-left:10px;") 5小時前更新
			h6 雪英領主 著 | 444章未讀
			h6 連載至 : 第125章 邀請
		
	