div.container-fluid(style="background-color:#eee; margin-bottom:1px")
	a(href="/read/"+bookid)
		div(style="display: table;width:100%")
			div.col-xs-2(style="float: none;display: table-cell;vertical-align: middle;background-color: darkgray;")
				img.img-responsive(src= bookcoverimg style="width:100%;")
			div.col-xs-10(style="float: none;display: table-cell;vertical-align: middle;")
				h4 #{bookname}
				p.text-muted #{authorname} ． 著
				small.text-muted #{timeby}