extends ./layout
block content
	include ./authormenubar1
	div.w3-example
		h1 #{book.name}
		include ./maintab
		- if (mode == "bookinfo") {
			include ./bookinfo
		- }
		- else {
			include ./article
		- }
